<script src="js/main.min.js"></script>
<footer class="footer">
    <div class="footer-info">
        <div class="container p-0 flex-box flex-center mob-wrap">
            <a class="gerb-logo footer-gerb" href="#">
            <img src="../img/gerb.svg">
            </a>
            <a class="gerb-logo-text" href="#">
            Муниципальный <br>
            округ №6
            </a>
            <div class="header-info-contacts footer-info-contacts">
                <a href="tel:+73952422243"><p>+7 3952 42 22 43</p></a>
            </div>
            <div class="footer-email">
               <a href="mailto:mail@irk6.gov.ru"><p>mail@irk6.gov.ru</p></a>
            </div>
            <button class="button ml-auto">Консультация по телефону</button>
        </div>
        <div class="footer-nav">
            <div class="container pl-0 pr-0 footer-bottom">
                <ul class="header-nav-ul">
                    <li><a class="header-item" href="#">Об округе</a></li>
                    <li><a class="header-item" href="#">Новости и Мероприятия</a></li>
                    <li><a class="header-item" href="#">Программы поддержки</a></li>
                    <li><a class="header-item" href="#">Жителям Округа</a></li>
                    <li><a class="header-item" href="#">Администрация</a></li>
                    <li><a class="header-item" href="#">Онлайн-Приёмная</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright container pl-0 pr-0">
            <a class="personal-info" href="#">Политика конфиденциальности</a>
            <a href="#" class="copyright"><img src="../img/rowstudio.svg"></a>
        </div>
    </div>
</footer>