<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="css/main.min.css">
<title>Избирательный округ №6</title>
<header class="header">
    <div class="header-info">
         <div class="container flex-box flex-center" id="myDiv1">
            <a class="gerb-logo" href="#">
            <img src="../img/gerb.svg">
            </a>
            <a class="gerb-logo-text" href="#">
            Избирательный <br>
            округ №6
            </a>
            <form class="header-info-search">
                <input type="text" class="search-form">
            </form>
            <div class="header-info-contacts" id="myDiv3">
                <a href="tel:+73952422243"><p>+7 3952 42 22 43</p></a>
            </div>
             <div class="burger" id="burger">
                 <div class="burger-line1">
                 </div>
                 <div class="burger-line2">
                 </div>
                 <div class="burger-line3">
                 </div>
             </div>
        </div>
    </div>
    <div class="header-nav" id="myDiv2">
        <div class="container p-0">
            <ul class="header-nav-ul">
                <li><a class="header-item" href="#">Об округе</a></li>
                <li><a class="header-item" href="#">Новости и Мероприятия</a></li>
                <li><a class="header-item" href="#">Программы поддержки</a></li>
                <li><a class="header-item" href="#">Жителям Округа</a></li>
                <li><a class="header-item" href="#">Администрация</a></li>
                <li><a class="header-item" href="#">Онлайн-Приёмная</a></li>
            </ul>
        </div>
    </div>
</header>